:root {
    --background-white: #FFFFFF;
    --text-dark: #000000;
    --text-light: #1E1E1E;
    --heading-text: 'Britney';
    --body-text: 'Quicksand';
}

@font-face {
    font-family: 'Britney';
    src: url('fonts/Britney-Ultra.woff2') format('woff2'),
        url('fonts/Britney-Ultra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('fonts/quicksand.woff2') format('woff'),
        url('fonts/quicksand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f8f9fa;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: default;
    color: black;
    font-family: var(--body-text);
}

.navbar {
    position: fixed !important;
    width: 100%;
    background-color: transparent !important;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 1000;
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: white !important;
    transition: color 0.3s ease;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}

.navbar.scrolled {
    background-color: white !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-shadow: none;
}

.navbar.scrolled .nav-link,
.navbar.scrolled .navbar-brand {
    color: #000 !important;
    text-shadow: none;
}

.nav-link {
    font-weight: 500;
    font-family: var(--body-text);
}

.nav-link:hover {
    color: #E63946 !important;
}

.hero-slide-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 51, 102, 0.6);
}

.hero-content {
    position: relative;
    z-index: 1;
    font-family: var(--body-text);
}

.hero-content h1 {
    font-family: var(--heading-text);
}

.carousel-caption {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-caption h1 {
    font-family: var(--heading-text);
}

.btn-cta {
    background-color: #E63946;
    color: white;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 4px;
    text-decoration: none;
    width: 50%;
}

.btn-cta:hover {
    background-color: #c82f3b;
    color: white;
}

.navbar-brand {
    font-family: var(--heading-text);
}

.zoom-effect {
  animation: zoomInOut 15s ease-in-out infinite;
  transform-origin: center center;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.08);
  }

  100% {
    transform: scale(1);
  }
}

.hero-slide-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0,0.4);
}

.carousel-indicators li {
    list-style: none;
}